@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:ital,wght@1,100&family=Rammetto+One&family=Righteous&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  width: 100%;
  height:100%;
  background-color: #fff;
}
.bread-crumb {
    background-color: #bbbbbb;
    padding: 10px 0;
    margin-bottom: 16px;
}
.bread-crumb a {
    color: black;
    text-decoration: none;
}
.bread-crumb a:hover {
    color: white;
    text-decoration: none;
}
.nav-one {
  background: #fff;
  width: 100%;
  overflow: auto;
  padding: 10px 0;
}
.nav-one p {
  font-family: "Righteous", cursive;
  font-size: 13px;
  color: #151515;
  margin-bottom: 0px;
}
.nav-one a {
  font-family: "Righteous", cursive;
  float: left;
  font-size: 13px;
  text-decoration: none;
  color: #1e1e1e;
  display: inline-block;
  position: relative;
}
.nav-one-menu a {
  margin-left: 30px;
  transition: 0.3s;
}
.nav-one-menu li a:hover {
  color: #d8bf9f;
}
.nav-one-menu ul {
  margin-bottom: 0;
}
.nav-one a:hover {
  color: #000;
  text-decoration: none;
}
.nav-one a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-one a:hover:after {
  width: 100%;
  left: 0;
}
.logo1 img {
  max-width: 36%;
  max-height: 18%;
}
.middle {
  margin-left: 500px;
}
.form-title {
  text-align: center;
  font-size: 40px;
}
ul {
  list-style: none;
}
.container2 {
  max-width: 100%;
}
.special {
  color: #ffffff;
  width: 60%;
}
.special h1 {
  font-size: 30px;
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
}
.special h2 {
  color: #d8bf9f;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Rammetto One", cursive;
}
.special p {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 15px;
}
.footer {
  background-color: #0c0c0c;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.footer hr {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
.footer-cols {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.footer-col {
}
.footer-col h4 {
  font-size: 18px;
  color: azure;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d8bf9f;
  height: 1px;
  box-sizing: border-box;
  width: 70%;
}
.footer-col ul {
  padding-left: 0px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 300;
  color: white;
  transition: all 0.25s ease;
}
.footer-col ul li a:hover {
  color: #d8bf9f;
}
.copy-right {
  margin-top: 20px;
}
.copy-right p {
  text-align: center;
  color: #bbbbbb;
  margin-bottom: 0;
  font-size: 15px;
}
.nav-second ul, .nav-second p {
  margin-bottom: 0px;
}
.nav-second {
  background-color: #131313;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-second h1 {
  color: #d8bf9f;
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Rammetto One", cursive;
}
.nav-second p {
  font-family: "Raleway", sans-serif;
  color: #ececec;
  font-size: 14px;
}
.nav-second li {
  display: table-cell;
  margin-left: 30px;
}
.nav-second a {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  position: relative;
  color: #ececec;
}
.nav-second a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-second a:hover:after {
  width: 100%;
  left: 0;
  background: #d8bf9f;
}
.nav-second a:hover {
  color: #d8bf9f;
  text-decoration: none;
}
.cart a {
  padding: 20px 20px;
  color: white;
  background: #d8bf9f;
  transition: 0.3s;
}
.cart a:hover {
  color: #d8bf9f;
  text-decoration: none;
  background: white;
}
.cart a:after {
  display: none;
}
.brand-name {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  color: #24262b;
  background-color: #d8bf9f;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #fff;
  background-color: #bbbbbb;
}
.btn-container input {
  background-color: #919191;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}
.btn-container input {
  background-color: #a0c591;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}
.btn-container input:hover {
  background-color: #77777c;
}
.welcome-user {
  font-size: 25px;
  color: #ffffff;
}
.login-container{
  margin: auto;
  width: 80%;
  background: white;
  text-align: center;
}
.login-container h2 {
  padding-top: 56px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 56px;
}
.login-container input[type="email"], .login-container input[type="password"],.login-container input[type="text"]{
  border: 0;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 3px solid #4e4e4e;
  padding: 8px 16px;
  width: 50%;
  outline: none;
  color: black;
  border-radius: 25px;
  transition: 0.25s;
}
.login-container input[type="email"]:focus, .login-container input[type="password"]:focus, .login-container input[type="text"]:focus{
  border-color: #d8bf9f;
}
.login-container input[type ="submit"]{
  border: 0;
  background: #d8bf9f;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 3px solid #d8bf9f;
  padding: 8px 16px;
  width: 30%;
  outline: none;
  color: black;
  border-radius: 25px;
  transition: 0.25s;
  cursor:pointer;
}
.login-container input[type="email"]::placeholder, .login-container input[type="password"]::placeholder,.login-container input[type="text"]::placeholder{
  color: #aaa;
  opacity: 1;
}
.login-container input[type ="submit"]:hover{
  color: white;
  background: #4e4e4e;
  border-color: #4e4e4e;
}
.login-container h5 {
    margin: 24px auto;
}
.checkboxx input,
.checkboxx a {
  width: 20px;
  height: 20px;
}
.services {
  margin: 80px 0;
}
.section-heading h2 {
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
}
.service-item {
  color: black;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 60px 30px 20px 30px;
  text-align: center;
  transition: all 0.3s;
}

.service-item:hover {
  color: black;
  box-shadow: none;
  background-color: #d8bf9f;
  border: 1px solid #d8bf9f;
}

.service-item h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.service-item .service-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
}

.first-service .service-icon {
  background-image: url(../images/tshirt.png);
  transition: all 0.5s;
}
.second-service .service-icon {
  background-image: url(../images/pants.png);
  transition: all 0.5s;
}

.third-service .service-icon {
  background-image: url(../images/trainers.png);
  transition: all 0.5s;
}

.first-service:hover .service-icon {
  background-image: url(../images/tshirt_color.png);
}

.second-service:hover .service-icon {
  background-image: url(../images/pants_color.png);
}

.third-service:hover .service-icon {
  background-image: url(../images/trainers_color.png);
}

.container3 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.content-slider h3 {
  margin: 0;
  padding: 70px 0;
}
.subscription {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 40px;
}
.email {
  width: 60%;
}
.email #email_input {
  width: 50%;
  height: 35px;
}
.submit {
  width: 15%;
  height: 35px;
  text-decoration: none;
  font-size: 15px;
  font-style: italic;
  border: none;
  margin-bottom: 10px;
  color: #bbbbbb;
  background-color: rgba(255, 255, 255, 0.2);
}
.submit:hover {
  color: black;
  background-color: #d8bf9f;
}
.email p {
   color: white;
   font-size: 15px;
}
.subscription-email{
  width: 60%
  display: flex;
  row-direction: row;
}
.social-media {
  width: 40%;
}
.email h4, .social-media h4 {
  display :inline-block;
  font-size: 18px;
  color: azure;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  margin-bottom: 25px;
}
.email h4::before, .social-media h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d8bf9f;
  height: 1px;
  box-sizing: border-box;
  width: 70%;
}
.card-title {
    font-size: 18px;
}
.card-title > a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}
.card-title > a:hover {
    text-decoration: none;
    color: #d8bf9f;
}
.min-vh-75 {
    min-height: 75vh !important;
}
.min-vh-65 {
    min-height: 65vh !important;
}
.btn-checkout {
    font-weight: bold!important;
    background-color: #d8bf9f!important;
}
.btn-checkout-paypal {
    font-weight: bold!important;
    background-color: #0070ba!important;
}
.btn-checkout:hover, .btn-checkout-paypal:hover {
    color: white!important;
    background-color: #131313!important;
}
.jumbotron {
    margin-bottom: 30px;
    color: inherit;
    background-color: #d8bf9f;
}
.jumbotron h1,
.jumbotron .h1 {
    color: inherit;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron > hr {
    border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
    border-radius: 6px;
}
.jumbotron .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }
    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 63px;
    }
}
