<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" th:href="@{/css/success.css}" />
    <title>Cancel</title>
</head>
<body>
<div class="container-thank">
    <span class="text1">Payment Cancelled</span>
    <h1>The payment has been cancelled.</h1>
    <br/>
    <span class="text2"> <a style="text-decoration: none;" th:href="@{/shop}">Back to Shop</a></span>
</div>


</body>
</html>
