<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/mainCateAdd.css}">
</head>
<body layout:fragment="content" style="background: #f4f4f4;">
    <div class="min-vh-65">
        <section class="bread-crumb">
            <div class="container">Home / Main Category List / Shirts</div>
        </section>
        <div class="container">
            <div class="formAdd">
                <div class="title">
                    <a th:href="'/admin/maincategory/list'">
                        <button class="btn btn-checkout" style="margin-right: 95px;">Back</button>
                    </a>
                    ADD MAIN CATEGORY
                </div>
                <form class="form" th:action="'/admin/maincategory/save'" th:object="${maincategory}" method="post">
                    <input type="hidden" name="id"  th:field="*{id}">
                    <div class="inputField">
                        <label for="name">Category Name</label>
                        <input type="text" class="input" required th:field="*{name}" name="name" id="name">
                    </div>
                    <div class="button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>