<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/subCateUpdate.css}">
</head>
<body layout:fragment="content" style="background: #f4f4f4;" >
    <div class="min-vh-65">
        <section class="bread-crumb">
            <div class="container">Home / Main Category List / Shirts</div>
        </section>
        <div class="container">
            <div class="formEditSub">
                <div class="title">
                    <a th:href="'/admin/subcategory/list'">
                        <button class="btn btn-checkout" style="margin-right: 95px;">Back</button>
                    </a>
                    UPDATE SUB CATEGORY
                </div>
                <form class="form" th:action="'/admin/subcategory/saveupdate'" th:object="${subCategory}" method="post">
                    <input type="hidden" name="id"  th:field="*{id}">
                    <div class="inputField">
                        <label for="name">Sub Category Name</label>
                        <input type="text" class="input" required th:field="*{name}" name="name" id="name">
                    </div>
                    <div class="inputField">
                        <label>Main Category</label>
                        <div class="selection">
                            <select th:field="*{mainCategory}">
                                <option th:each="cat : ${mainCategoryList}" th:value="${cat.id}" th:text="${cat.name}"/>
                            </select>
                        </div>
                    </div>
                    <div class="buttonEditSub">
                        <button type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>